/* header */
.header{
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
}
.fixedheader{
    position: fixed;
    top: 0px;
    z-index: 99;
}
.hashtags{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    margin: 0 5px;
}
.hashtags a{
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.extra{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.extra .flujo .tag .pop-head{
    font-size: 0.8rem;
}
.menu{
    width: 15%;
}
.nav-menu{
    display: none;
}

.portada-preview a{
    text-decoration: none;
}

.after{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.icon-menu{
    line-height: 50px;
    color: #fff;
    font-size: 1.5rem;
}
.logo{
    width: 70%;
    line-height: 50px;
    font-size: 2rem;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.busqueda{
    width: 15%;
}
.icon-search{
    line-height: 50px;
    color: #fff;
    font-size: 1.5rem;
}
.centrar{
    text-align: center;
    height: 100%;
    float: left;
}
/* body */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.portada{
    position: relative;
    width: 100%;
    height: 415px;
}
.portada-sn{
    position: relative;
    margin: 15px 10px;
    height: 230px;
}

.imagen-portada{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagen-portada-sn{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gridportada{
    width: 100%;
}
.portada img{
    position: absolute;
    margin: 0 auto;
    left: -9999px;
    right: -9999px;
    min-width: 390px;
}

.portada-sn img{
    position: absolute;
    margin: 0 auto;
    left: -9999px;
    right: -9999px;
    width: 100%;
    min-width: 390px;
}

img{
    width: 100%;
    height: auto;
    transition: all .25s;
}

.portada-titulo{
    position: absolute;
    width: 100%;
    height: 215px;
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 50%, rgba(0,0,0,.9) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 50%, rgba(0,0,0,.9) 100%);
    left: 0;
    bottom: 0;
    padding: 60px 10px 20px;
    box-sizing: border-box;
}

.portada-sn-titulo{
    position: absolute;
    width: 100%;
    height: 126px;
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 50%, rgba(0,0,0,.9) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 50%, rgba(0,0,0,.9) 100%);
    left: 0;
    bottom: 0;
    padding: 50px 10px 20px;
    box-sizing: border-box;
}

.portada-preview{
    width: 100%;
    height: 100%;
}
.categoria{
    color: #0be6af;
    font-weight: bold;
    font-size: 0.8rem;
}
.fecha{
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
}
.titulo-p{
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
}
.bajada{
    color: #fff;
}
.tendencias, .categorias, .ultimas{
    text-align: center;
}

/* flujo */
.flujo{
    display: inline-block;
    position: relative;
    margin: 15px auto;
    width: 95%;
    text-align: center;
}
.flujo-content{
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
}
.flujo-d{
    margin: 0px !important;
}
.tag, .tag-content{
    margin: 0;
}
.tag:before{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 1px;
    z-index: 0;
}
.pop-head, .pop-head-content{
    background: #ff005b;
    color: #fff;
    font-size: 1rem;
    padding: 5px 13px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
.pop-head-content{
    font-size: 0.8rem !important;
}
.title-content{
    box-sizing: border-box;
    padding: 5px 13px;
}
h1{
    margin: 0px;
}

.data-text{
    box-sizing: border-box;
    padding: 0px 13px;
    font-size: 1.2rem;
}

.data-text p{
    margin-top: 0px;
}
.legend{
    text-align: right;
    color: #666;
    padding: 10px;
    box-sizing: border-box;
}
.img-src{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.tendencia-item{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.tendencia-item-image{
    position: relative;
    float: left;
    width: 20%;
    height: 80px;
    overflow: hidden;
}
.tendencia-item-preview{
    position: relative;
    float: right;
    text-align: left;
    width: 70%;
    height: 80px;
}

.tendencia-categoria{
    color: #666;
    font-weight: bold;
    font-size: 0.8rem;
}
.tendencia-fecha{
    color: #ccc;
    font-weight: lighter;
    font-size: 0.8rem;
}
.tendencia-titulo-p{
    margin-top: 5px;
    text-transform: uppercase;
    color: #000;
    font-size: 1rem;
}

/* portada categoria */
.portada-categoria{
    position: relative;
    margin: 15px auto;
    width: 95%;
    height: 415px;
}

.cover{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cover img{
    position: absolute;
    margin: 0 auto;
    left: -9999px;
    right: -9999px;
    width: 100%;
    min-width: 390px;
}

.cover-preview{
    position: absolute;
    width: 100%;
    height: 215px;
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 50%, rgba(0,0,0,.9) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 50%, rgba(0,0,0,.9) 100%);
    left: 0;
    bottom: 0;
    padding: 80px 10px 20px;
    box-sizing: border-box;
}
/* footer */
.footer{
    width: 100%;
    height: 230px;
    background: #111;
    text-align: center;
    box-sizing: border-box;
    padding: 50px 0;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.nav-footer, .navegation {
    display: inline-block;
}
.nav-footer ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
.navegation ul {
    list-style: none;
    padding: 10px 0px;
    margin: 0;
}
.navegation ul li {
    float: left;
    padding: 5px;
    text-transform: uppercase;
    font-size: .7rem;
}
.nav-footer ul li{
    width: 20px;
    height: 20px;
    float: left;
    padding: 5px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    margin-right: 15px;
}
.footer-copyright{
    text-align: center;
    background: #000;
    color: #777;
    box-sizing: border-box;
    padding: 50px 10px;
}
@media only screen and (max-width: 480px) { 
    img{
        width: 100%;
    }
    /* click menu */
    .content::after{
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        cursor: pointer;
    }
    /* menu desplegable */
    .nav-menu{
        position: fixed;
        top:50px;
        left: 0px; /* -52% */
        z-index: 999;
        display: block;
        width: 50%;
        background: #000;
        -webkit-box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        transition: left 0.3s;
    }
    .left{
        left: -52% !important;
    }

    .nav-menu .menu-navegation{
        margin-top: 10px;
    }
    .nav-menu .menu-navegation ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .nav-menu .menu-navegation ul li a{
        display: block;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-bottom: 1px solid rgb(68, 68, 68);
        color: #fff;
        margin: 10px 20px;
    }
}
/* Para 480px a 600px */
@media only screen and (max-width: 600px) and (min-width: 480px) { 

    .gridportada{
        width: 100%;
        box-sizing: border-box;
        padding: 15px 10px;
    }

    .tendencia-item{
        position: relative;
        display: inline-block;
        margin-top: 10px;
        width: 50%;
        box-sizing: border-box;
        padding-right: 5px;
    }
    .tendencia-item:nth-child(2n){
        float: right !important;
        padding-left: 5px;
    }

    .tendencia-item-image{
        position: relative;
        width: 100%;
        height: 120px;
        overflow: hidden;
    }
    .tendencia-item-preview{
        position: relative;
        text-align: left;
        width: 100%;
        height: 80px;
    }
    .portada-sn{
        position: relative;
        margin: 15px 0px;
        height: 230px;
    }
    .portada img{
        width: 100%;
    }
    img{
        max-width: 100%;
        transition: all .25s;
        height: auto;
    }
    .tendencia-item-image img{
        width: 100% !important;
    }

    /* click menu */
    .content::after{
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        cursor: pointer;
    }
    /* menu desplegable */
    .nav-menu{
        position: fixed;
        top:50px;
        left: 0px; /* -52% */
        z-index: 999;
        display: block;
        width: 50%;
        background: #000;
        -webkit-box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        transition: left 0.3s;
    }
    .left{
        left: -52% !important;
    }

    .nav-menu .menu-navegation{
        margin-top: 10px;
    }
    .nav-menu .menu-navegation ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .nav-menu .menu-navegation ul li a{
        display: block;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-bottom: 1px solid rgb(68, 68, 68);
        color: #fff;
        margin: 10px 20px;
    }
}

/* Para 601px a 900px */
@media only screen and (max-width: 900px) and (min-width: 601px) {

    .gridportada{
        position: relative;
        width: 60%;
        padding: 15px 10px;    
        box-sizing: border-box;  
        float: left;  
    }
    .tendencias{
        position: relative;
        width: 40%;
        padding: 0px 10px;
        box-sizing: border-box;
        float: right;
    }

    .portada{
        height: 600px;
    }
    .portada img{
        width: auto;
    }
    .portada-sn{
        position: relative;
        margin: 15px 0px;
        height: 230px;
    }

    .tendencia-item{
        position: relative;
        display: inline-block;
        margin-top: 0px;
        width: 100%;
        box-sizing: border-box;
        padding-right: 5px;
    }
    .tendencia-item:nth-child(2n){
        float: right !important;
    }

    .tendencia-item-image{
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
    }
    .tendencia-item-preview{
        position: relative;
        text-align: left;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        padding-top: 5px;
    }

    img{
        width: 100%;
    }
    .img-src{
        height:450px;
    }
    .categorygrid{
        width: 50%;
    }

    .portada-categoria{
        position: relative;
        float: left;
        width: 50%;
        margin: 15px 10px;
        box-sizing: border-box;
    }
    .flujo-categoria{
        position: relative;
        width: 45%;
    }
    /* click menu */
    .content::after{
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        cursor: pointer;
    }
    /* menu desplegable */
    .nav-menu{
        position: fixed;
        top:50px;
        left: 0px; /* -52% */
        z-index: 999;
        display: block;
        width: 50%;
        background: #000;
        -webkit-box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        box-shadow: 6px 3px 19px -2px rgba(0,0,0,0.75);
        transition: left 0.3s;
    }
    .left{
        left: -52% !important;
    }

    .nav-menu .menu-navegation{
        margin-top: 10px;
    }
    .nav-menu .menu-navegation ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .nav-menu .menu-navegation ul li a{
        display: block;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-bottom: 1px solid rgb(68, 68, 68);
        color: #fff;
        margin: 10px 20px;
    }

}

/* Para 901px a mas*/
@media only screen and (min-width: 901px) {

    .content, .tendencias, .categorias, .ultimas{
        width: 100%;
        padding: 0 120px;
        box-sizing: border-box;
    }

    .gridportada{
        position: relative;
        width: 60%;
        padding: 15px 10px;    
        box-sizing: border-box;  
        float: left;  
    }
    .tendencias{
        position: relative;
        width: 40%;
        padding: 0px 10px;
        box-sizing: border-box;
        float: right;
    }

    .portada-sn{
        position: relative;
        margin: 15px 0px;
        height: 300px;
    }

    .portada{
        height: 600px;
    }
    .portada img{
        width: 100%;
    }

    .tendencia-item{
        position: relative;
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
        padding-right: 5px;
    }
    .tendencia-item:nth-child(2n){
        float: right !important;
        padding-left: 5px;
    }

    .tendencia-item-image{
        position: relative;
        width: 100%;
        height: 230px;
        overflow: hidden;
    }
    .tendencia-item-preview{
        position: relative;
        text-align: left;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        padding-top: 5px;
    }

    .tendencia-item-image img{
        width: 100% !important;
    }
    .categorygrid{
        width: 50%;
    }
    .portada-categoria{
        position: relative;
        float: left;
        width: 50%;
        height: 580px;
        margin: 15px 10px;
        box-sizing: border-box;
    }
    .flujo-categoria{
        position: relative;
        width: 45%;
    }
    .nav-menu{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .nav-menu .menu-navegation{
        display: inline-block;
    }
    .nav-menu .menu-navegation ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .nav-menu .menu-navegation ul li{
        float: left;
    }
    .nav-menu .menu-navegation ul li a{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        /* border-bottom: 3px solid #fff; */
        padding: 10px;
        margin: 0 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        color: #666;
    }
    .nav-menu .menu-navegation ul li a::after{
        position: relative;
        top: 5px;
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #16d3a1;
        transition: width .3s;
        border-bottom: 3px solid #16d3a1;
    }
    .nav-menu .menu-navegation ul li a:hover::after{
        width: 100%;
    }
    .menu{
        visibility: hidden;
    }

    .interna-content{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 0 120px;
    }
    .section-interna{
        position: relative;
        width: 70%;
        float: left;
    }
    .sidebar{
        position: relative;
        width: 30%;
        float: right;
        box-sizing: border-box;
        padding: 0 30px;
        text-align: center;
    }
    .sidebar-fixed{
        position: fixed;
        right: 120px;
    }
    .sidebar-flow{
        text-align: left;
    }
    .sidebar-item{
        position: relative;
        width: 100%;
        height: 100px;
    }
    .sidebar-image{
        position: relative;
        width: 30%;
        height: 90px;
        float: left;
    }
    .sidebar-image img{
        width: 100%;
        height: 100%;
    }
    .sidebar-preview{
        position: relative;
        width: 70%;
        float: right;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .sidebar-preview h2{
        margin: 0px;
    }
    .sidebar-category{
        color: #666;
        font-weight: bold;
        font-size: 0.7rem;
    }
    .sidebar-fecha{
        color: #ccc;
        font-size: 0.7rem;
    }
    .sidebar-title{
        font-size: 0.8rem;
        color: #000;
    }
}