<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zox</title>
    <link rel="stylesheet" href="{{ base_url }}css/style.css">
    <link rel="stylesheet" href="{{ base_url }}css/all.css">
</head>
<body>
    <div class="header">
        <div class="nav">
                <div class="menu centrar">
                    <a href="#" class="icon-menu">
                        <span class="fas fa-times" style="display: none;"></span>
                        <span class="fas fa-align-left"></span>
                    </a>
                </div>
                <div class="logo centrar">
                    <a href="#">
                        zox
                    </a>
                </div>
                <div class="busqueda centrar">
                    <a href="#" class="icon-search">
                        <span class="fas fa-search"></span>
                    </a>
                </div>
        </div>
    </div>

    <div class="nav-menu left">
        <div class="menu-navegation">
            <ul>
                <li><a href="#">categoria</a></li>
                <li><a href="#">categoria</a></li>
                <li><a href="#">categoria</a></li>
                <li><a href="#">categoria</a></li>
                <li><a href="#">categoria</a></li>
            </ul>
        </div>
    </div>

    <div class="after">
        <div class="gridportada">
            <div class="portada">
                <div class="imagen-portada">
                    <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                </div>
                <div class="portada-titulo">
                    <div class="portada-preview">
                        <span class="categoria">Categoria</span>
                        <span class="fecha">/ Hace 1 día</span>
                        <a href="#"><h2 class="titulo-p">Lorem ipsum dolor sit amet</h2></a>
                        <p class="bajada">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet exercitationem blanditiis natus nobis!</p>
                    </div>
                </div>
            </div>
        
            <div class="portada-sn">
                <div class="imagen-portada-sn">
                    <img src="{{ base_url }}img/chica-example.jpg" alt="">
                </div>
                <div class="portada-sn-titulo">
                    <div class="portada-preview">
                        <span class="categoria">Categoria</span>
                        <span class="fecha">/ Hace 1 día</span>
                        <a href="#"><h3 class="titulo-p">consectetur adipisicing elit. Eveniet exercitationem</h3></a>
                    </div>
                </div>
            </div>
        
            <div class="portada-sn">
                <div class="imagen-portada-sn">
                    <img src="{{ base_url }}img/chico-example.jpg" alt="">
                </div>
                <div class="portada-sn-titulo">
                    <div class="portada-preview">
                        <span class="categoria">Categoria</span>
                        <span class="fecha">/ Hace 1 día</span>
                        <a href="#"><h3 class="titulo-p">consectetur adipisicing elit. Eveniet exercitationem</h3></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tendencias">
            <!-- tendencias -->
            <div class="flujo">
                <h3 class="tag">
                    <span class="pop-head">Tendencias</span>
                </h3>
            </div>
            <!-- flujo tendencias -->
            <div class="flujo flujo-d">
                <div class="tendencias-flow">
    
                    <div class="tendencia-item">
                        <a href="#">
                            <div class="tendencia-item-image">
                                <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                            </div>
                            <div class="tendencia-item-preview">
                                <span class="tendencia-categoria">Categoria</span>
                                <span class="tendencia-fecha">/ Hace 1 día</span>
                                <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                            </div>
                        </a>
                    </div>
    
                    <div class="tendencia-item">
                        <a href="#">
                            <div class="tendencia-item-image">
                                <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                            </div>
                            <div class="tendencia-item-preview">
                                <span class="tendencia-categoria">Categoria</span>
                                <span class="tendencia-fecha">/ Hace 1 día</span>
                                <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                            </div>
                        </a>
                    </div>
    
                    <div class="tendencia-item">
                        <a href="#">
                            <div class="tendencia-item-image">
                                <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                            </div>
                            <div class="tendencia-item-preview">
                                <span class="tendencia-categoria">Categoria</span>
                                <span class="tendencia-fecha">/ Hace 1 día</span>
                                <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                            </div>
                        </a>
                    </div>
    
                    <div class="tendencia-item">
                        <a href="#">
                            <div class="tendencia-item-image">
                                <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                            </div>
                            <div class="tendencia-item-preview">
                                <span class="tendencia-categoria">Categoria</span>
                                <span class="tendencia-fecha">/ Hace 1 día</span>
                                <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                            </div>
                        </a>
                    </div>
    
                </div>
            </div>
        </div>
        
    </div>


    <div class="categorias">
        <!-- categorias -->
        <div class="flujo">
            <h3 class="tag">
                <span class="pop-head">Entretenimiento</span>
            </h3>
        </div>
        <!-- flujo categorias -->
        <div class="flujo flujo-d">
            <div class="tendencias-flow">
                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="ultimas">
        <!-- Ultimas -->
        <div class="flujo">
            <h3 class="tag">
                <span class="pop-head">Últimas</span>
            </h3>
        </div>
    
        <!-- Portada Ultimas -->
        <div class="portada-categoria">
            <div class="cover">
                <img src="{{ base_url }}img/categoria-cover.jpg" alt="">
            </div>
            <div class="cover-preview">
                <span class="categoria">Categoria</span>
                <span class="fecha">/ Hace 1 día</span>
                <h2 class="titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
            </div>
        </div>
        <!-- flujo de ultimas -->
        <div class="flujo flujo-categoria">
            <div class="tendencias-flow">
                <div class="tendencia-item">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="flujo flujo-d">
            <div class="tendencias-flow">
                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

                <div class="tendencia-item categorygrid">
                    <a href="#">
                        <div class="tendencia-item-image">
                            <img src="{{ base_url }}img/politics-560x600.jpg" alt="">
                        </div>
                        <div class="tendencia-item-preview">
                            <span class="tendencia-categoria">Categoria</span>
                            <span class="tendencia-fecha">/ Hace 1 día</span>
                            <h2 class="tendencia-titulo-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->
    <div class="footer">
        <a href="#">
            <h3>Logo</h3>
        </a>
        <div class="nav-footer">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-navegation">
            <div class="navegation">
                <ul>
                    <li><a href="#">inicio</a></li>
                    <li><a href="#">acerca</a></li>
                    <li><a href="#">terminos</a></li>
                    <li><a href="#">contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2020
    </div>

</body>
<script src="{{ base_url }}js/jquery.js"></script>
<script src="{{ base_url }}js/main.js"></script>
</html>